* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    height: auto;
    background: goldenrod;
}
.thumb {
    max-width: 80%;
    height: auto;
    background: brown;
}
.wrapper > div:first-child {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper > div:last-child {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    flex: 20;
    display: flex;
    flex-direction: column;
    position: relative;
}
img {
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0.2;
    bottom: 0;
    color:red;
    font-size: 2vw;
    margin-bottom: 1vw;
}
h1 {
    width: 95%;
    word-wrap: break-word;
    /* height: 5vw; */
}
p {
    width: 95%;
    word-wrap: break-word;
    /* height: 3.5vw; */
}