:root {
    --main: #e6b6b6;
    --side: #e6b6;
    --fontc: #000;
    --fontsub: #474747;
    --active: #a7af37;
    --ext: #a064a4;
    --foot: #f45;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: relative;
    height: 100%;
    font-size: 20px;
    font-family: 'Cutive Mono', cursive;
    min-width:900px;
}
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: hue-rotate(45deg);   
}
em {
    font-weight: bold;
}
.wrapper {
    width: 70%;
    background-color: var(--main);
    border-radius: 3px;
}
#visualisation {
    position: absolute;
    top: 15px;
    left: 5.3em;
}

    .modal {    
        top: 0;
        opacity: .9;
        z-index: 1;
        position: absolute;
        width: 200px;
        height: 30%;
        background-color: var(--fontc);
        outline: 0.1rem dotted var(--active);
        transform: translateY(-110%);
        transition: all 1s ease-in-out;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    .modal.add {
        left: 55%;    
    }
    .modal.create {
        left: 25%;
    }
    .modal > input {
        padding: 5px;
        font-family: 'Share Tech Mono';
        height: 15%;
        width: 70%;
        margin-bottom: 5px;
    }
    .modal > button {
        font-family: 'Share Tech Mono';
        height: 15%;
        width: 70%;
        background-color: var(--active)
    }
    .modal img {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .visible {
        transform: translateY(0);
    }

.notific {
    position: relative;
    height: 30%;
    display: flex;
    justify-content: space-between;
}
    .albumart img {
        width: 120px;
        filter: sepia(1)
    }
    .notific > div:first-child {
        width: 65%;
        padding: 10px;
    }
    .notific > div:first-child p {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .notific > div:first-child img {
        width: 90px;
    }
    .notific > div:first-child > img:first-of-type {
        animation: onload 1s;
        transform-origin: bottom right;
    }
    @keyframes onload {
        0% {
            transform: scale(2);
        }
        100%{
            transform: scale(1);
        }
    }
    .notific > div:last-child {
        justify-self: flex-end;
        background: var(--ext);
        width: unset;
    }

.playlists {
    height: 70%;
    overflow-y: scroll;
}
    .playlists > .scroll > div {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        padding: 10px;
        background-color: var(--side);
    }
    .playlists > .scroll > div:nth-of-type(2n) {
        background-color: var(--main);
    }

.current {
    height: 19%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
    .current div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .current div:last-child {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.tracks {
    height: 81%;
    overflow-y: scroll;
}
    .tracks > .scroll > div {
        display: flex;
        justify-content: space-between;
        padding: 11px;
        background-color: var(--side);
    }
    .tracks > .scroll > div:nth-of-type(2n) {
        background-color: var(--main);
    }
    .tracks > .scroll a:first-of-type {
        margin-right: 5px;
        color: var(--fontsub)
    }
    .tracks > .scroll p,
    .left .scroll a,
    .left .scroll div:first-child img,
    .left .scroll div:first-child + div img{
        pointer-events: none;
    }
    .tracks > .scroll > div.selected {
        background-color: var(--active)
    }
    .playlists > .scroll > div.selected {
        background-color: var(--fontsub)
    }

.left {
    border-top-left-radius: 5px;
    float: left;
    background-color: var(--main);
    width: 50%;
    height: 400px;
}
.right {
    border-top-right-radius: 7px;    
    float: right;
    background-color: var(--main);
    width: 50%;
    height: 400px;
}
.clear::after {
    display: block;
    content: '';
    clear: both;
}
footer {
    border-radius: 0 0 3px 3px;
    height: 50px;
    background-color: var(--foot);
    position: relative;
    user-select: none;
}
    footer div:first-of-type {
        position: absolute;
        top: 50%;
        left: 1.5rem;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    footer div:nth-of-type(2n) {
        position: absolute;
        top: 50%;
        left: 5rem;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    footer div:last-of-type {
        position: absolute;
        top: 50%;
        right: .5vw;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    footer div:first-of-type img:active, footer div:first-of-type + div img:active {
        background-color: var(--ext);
    }

audio {
    width: 100%;
    opacity: 0.5;
    display: flex;
}
    audio::-webkit-media-controls-panel {
        height: 50px;
    }
    audio::-webkit-media-controls-play-button {
        cursor: pointer;
        order: 0;
        margin-left: 50px;
        margin-right: 50px; 
    }
    audio::-webkit-media-controls-current-time-display {
        order: 1;
    }
    audio::-webkit-media-controls-timeline {
        cursor: pointer;
        order: 2;
    }
    audio::-webkit-media-controls-time-remaining-display {
        order: 3;
    }
    audio::-webkit-media-controls-mute-button {
        cursor: pointer;
        order: 4;
        margin-left: 0.5vw;
        margin-right: -1vw;
    }
    audio::-webkit-media-controls-volume-slider {
        cursor: pointer;
        margin-right: 50px;
        order: 5;
    }

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    min-height: 80px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    background-color: var(--fontsub);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

img[src$='.svg'], .scroll > div {
    cursor: pointer;
}