* {
    margin: 0;
    padding: 0;
}

.container {
    background: rgb(255, 214, 42);
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.item {
    background: rgb(176, 42, 255);
    width: 95px;
    height: 95px;
    list-style-type: None;
    margin-left: 10px;
}