

*{
    box-sizing: border-box;
}
body{
    margin-left: 8%;
    margin-right: 8%;
}
div {
    width: 100%;
    height: 1000px;
}
p {
    padding: 14px;
    background: red;
    
}
p:nth-child(2), p:nth-child(3) {
    height: 436px;
    width: 50%;
    
}
p:nth-child(2) {
    float: left;
}
p:nth-child(3) {
    float: right;
}
p:first-child {
    height: 44px;
    
}
p:last-child {
    width: 100%; 
    height: 185px;
}
.clear {
    clear: both;
    width: 0;
    height: 0;
}